<div class="conteiner__big-card">

    <div class="photo__big-card">
        <img src="https://www.clube92.com.br/uploads/images/2024/01/jornalista-brasileira-patricia-lelis-procurada-pelo-fbi-por-golpe-de-vistos-americanos-de-r-3-5-milhoes-1705519303.png"
            alt="" class="image">
    </div>
    <div class="title__big-card">
        <h1><a href="#" target="_blank" rel="noopener noreferrer">Jornalista Brasileira Patrícia Lélis na Mira do FBI
                por Suposto Golpe de Vistos Americanos de R$ 3,5
                Milhões.</a></h1>
    </div>

    <div class="description__big-card">
        <p>
            A jornalista brasileira Patrícia Lélis está sendo procurada pelo FBI, a polícia federal dos Estados Unidos,
            sob a acusação de envolvimento em esquemas relacionados a vistos americanos, totalizando quase R$ 3,5
            milhões.
        </p>
    </div>
</div>