.conteiner__big-card {
    width: 500px;
    min-width: 500px;
    margin-left: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title__big-card h1 {
    font-size: 30px;
    font-weight: 700;
}

.description__big-card p {
    color: gray;
}

.photo__big-card img{
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 30px;
}