<header>
    <app-title></app-title>
</header>
<hr>
<div class="conteiner__menu-bar">
    <app-menu-bar></app-menu-bar>
</div>
<hr>
<div class="conteiner__articles">
    <div class="article__main">
        <app-big-card></app-big-card>
    </div>
    <div class="article__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>

    </div>
</div>