<div class="conteiner__articles">
    <div class="article__main">
        <app-big-card id="1"
            photoCover="https://www.portal40graus.com/thumb.php?w=845&h=390&src=https://www.portal40graus.com/images/fotos_p2_news/65b40d0c35a7d_pastora.jpg"
            cardTitle="Pastora da Paraíba enfrenta críticas nas redes sociais por supostamente solicitar PIX em troca de orações."
            cardDescription="
            Além dela, o pastor Leonardo Sales, presidente dessa igreja, também está envolvido na polêmica.
            O caso veio à tona, nesta quarta-feira (15), pelo jornalista Bruno Pereira, no Programa Tribuna Livre, da TV Arapuan. 
            Nas redes sociais, vários internautas acusam a pastora Renalida Carvalho de estelionatária da fé."
            >
        </app-big-card>

    </div>
    <div class="article__others">
        <app-small-card id="2"
            photo_smallCard="https://img.jaenoticia.com.br/4Uttt4D_tZRNLliIJWinj6yQAmI=/1110x650/smart/s3.jaenoticia.com.br/uploads/imagens/precos-5.jpg"
            title_smallCard="Ex jogador da Olanda pode ser preso por Trafico de trogas do brasil."></app-small-card>
        <app-small-card id="3"
            photo_smallCard="https://s2-oglobo.glbimg.com/Sk5yPTA4LP4FKdpJ50JHoJFfAos=/0x257:960x1011/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2024/3/R/c3D7g2SSAf5jrTDkiWrA/gemvxfib0aaclw4.jfif"
            title_smallCard="Acidente de avião militar russo resulta em mais de 70 mortos, incluindo prisioneiros Ucranianos."></app-small-card>
        <app-small-card id="4"
            photo_smallCard="https://www.rbsdirect.com.br/filestore/1/2/8/0/0/9/4_dfece31aec7f0d4/4900821_a75ae14018c47f6.jpg?w=1024&rv=2-10-05&safari&format=webp"
            title_smallCard="Onda de frio extremo provoca mais de 90 mortes nos Estados Unidos."></app-small-card>
        <app-small-card id="5"
            photo_smallCard="https://www.rbsdirect.com.br/filestore/1/2/8/0/0/9/4_dfece31aec7f0d4/4900821_a75ae14018c47f6.jpg?w=1024&rv=2-10-05&safari&format=webp"
            title_smallCard="Onda de frio extremo provoca mais de 90 mortes nos Estados Unidos."></app-small-card>
        <app-small-card id="6"
            photo_smallCard="https://www.rbsdirect.com.br/filestore/1/2/8/0/0/9/4_dfece31aec7f0d4/4900821_a75ae14018c47f6.jpg?w=1024&rv=2-10-05&safari&format=webp"
            title_smallCard="Onda de frio extremo provoca mais de 90 mortes nos Estados Unidos."></app-small-card>
        <app-small-card id="7"
            photo_smallCard="https://www.rbsdirect.com.br/filestore/1/2/8/0/0/9/4_dfece31aec7f0d4/4900821_a75ae14018c47f6.jpg?w=1024&rv=2-10-05&safari&format=webp"
            title_smallCard="Onda de frio extremo provoca mais de 90 mortes nos Estados Unidos."></app-small-card>
    </div>
</div>