.conteiner__menu-bar{
    margin-left: 40px;
}
.conteiner__articles{
    margin-top: 35px;
    margin-left: 150px;
    display: flex;
    flex-direction: row ;
}
.article__others{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
header{
    display: flex;
    justify-content: center;
}
hr{
    height: 5px;
    background-color: black;
}
.conteiner__menu-bar{
    margin-left: 60px;
}
