
.conteiner__articles{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    
}

.article__main{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.article__others{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    
}
