<div class="conteiner__menu-bar">
    <ul>
        <li><a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer">Noticias</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Futebol</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Politica</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">finaceiro</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Games</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Filmes</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Séries</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Animes</a></li>
        <li class="separetor"><span>/</span></li>
        <li><a href="#">Livros</a></li>
        <li class="search">
            <input type="text" id="search-input" placeholder="Pesquisar">
    <button onclick="search()"><i class="fa fa-search" width="50px"></i></button>
        </li>
    </ul>
</div>